// Dependencies
import React from 'react'

// Styles
import { Container } from './styles'

// Component
const ${1:name-component} = () => {
  return (
    <>
      <Container>
        <h1>$1</h1>
      </Container>
    </>
  )
}

// Export module
export default $1

